@import 'abstracts/_variables';

.textarea-container {
    &__textarea {
        height: 50px;
        padding: 10px 15px;
        border-radius: 5px;
        box-shadow: 0 0 10px 0 rgba(114, 159, 197, 0.1);
        border: solid 1px #dcdde5;
        background-color: $white-color;
        font-family: SSTArabic-Roman;
        font-size: 14px;
        // color: $grey-color;
    }
}
