@import "abstracts/variables";

.btn {
    outline: none !important;
    font-size: 20px;
    font-weight: 400;
    border: 0;
    text-align: center;
    color: $white-color;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: unset;
    cursor: pointer;
    transition: 0.3s all;
    padding: 8px 13px;
    border-radius: 5px;

    &--primary {
        background-color: $primary-blue;
        &:hover,
        &:active {
            box-shadow: unset;
            background-color: $dark-blue;
            color: $white-color;
        }
        &:focus{
            outline: none !important;
        }
    }

    &:disabled {
        cursor: not-allowed;
    }
}
